<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.js"></script>
</head>
<body>
    <script>  
        Swal.fire({
            title: '!No se encontraron pozos!',
            text: '',
            icon: 'error',
            confirmButtonText: 'Ok'
        }).then(() => {
            location.href = '/index';
        });
        // if (option == 0) {
        // Swal.fire({
        //     title: '!No se encontraron pozos!',
        //     text: '',
        //     icon: 'error',
        //     confirmButtonText: 'Ok'
        // }).then(() => {
        //     location.href = '/inicio';
        // });}
        // if (option == 1) {
        //     Swal.fire({
        //     title: '!No se encontraron pozos!',
        //     text: '',
        //     icon: 'error',
        //     confirmButtonText: 'Ok'
        // }).then(() => {
        //     location.href = '/logeado';
        // });}
    </script>
</body>
</html>